<div class="about-area-two pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content-two">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>Change Your Life in the next 90 Days of Practice</h2>
                        <p>
                            Take some time to deeply reflect on these questions and use them as a source of motivation throughout your journey. It’s also helpful to come up with a phrase that will remind you why you’re working hard to achieve your goal.
Remember, it’s important to be realistic with your goals. Be honest with yourself and create achievable intentions so you can celebrate your successes. Good luck.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about-content-item">
                                <i class="flaticon-diet"></i>
                                <h3>Personalized Nutrition Plan</h3>
                                <p>Everyone has heard of popular nutrition styles: the keto diet, the Atkins diet, paleo, etc. Many are just different varieties of the same kind of low-carbohydrate diet, an eating style that emphasizes consuming fats instead of carbs.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-content-item">
                                <i class="flaticon-exercise"></i>
                                <h3>Personalized Exercises Plan</h3>
                                <p> A personalized workout plan is an exercise routine that's based on your fitness goals, your level of fitness, the amount of time you can devote to exercise each week, and the kind of fitness activities you enjoy.</p>
                            </div>
                        </div>
                    </div>
                    <a href="about.html" class="default-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-6 pe-0">
                <div class="about-img">
                    <img src="~/Template/assets/images/about/the-about-img1.jpg" alt="Images">
                </div>
            </div>
        </div>
    </div>
    <div class="about-shape-two">
        <img src="~/Template/assets/images/shape/shape3.png" alt="About Images">
    </div>
</div>


<div class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>What We Offer</span>
            <h2>Diet & Nutritionist Services</h2>
        </div>
        <div class="row pt-45 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                    <a href="service-details.html">
                        <img src="/Template/assets/images/services/services-img1.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="service-details.html">Weight Loss Program</a>
                        </h3>
                        <p>
                            Many diets can help you lose weight and offer unique health benefits. Some of the most popular eating plans include the Mediterranean diet, WW (Weight Watchers), the MIND diet, the DASH diet, intermittent fasting, plant-based diets, low carb diets, the Mayo Clinic Diet, and the Volumetrics diet.
                        </p>
                        <a href="service-details.html" class="learn-btn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                    <a href="service-details.html">
                        <img src="/Template/assets/images/services/services-img2.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="service-details.html">Nutrition Response Testing</a>
                        </h3>
                        <p>
                          Nutrition Response Testing® is a non-invasive system of analyzing the body to determine the underlying causes of illness and non-optimum health. Our clinically proven system may be quite different from any other healing practice you have experienced.
                        </p>
                        <a href="service-details.html" class="learn-btn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                    <a href="service-details.html">
                        <img src="/Template/assets/images/services/services-img3.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="service-details.html">Clinical Nutrition</a>
                        </h3>
                        <p>
                       Clinical nutrition is the prevention, diagnosis, and treatment of chronic diseases and conditions leveraging the power of nutrition. It's the study of how food can be used to improve patient outcomes at all stages of their health and medical journey.
                        </p>
                        <a href="service-details.html" class="learn-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="diet-plan-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Diet Plan</span>
            <h2>Our Weekly Diet Plan</h2>
        </div>
        <div class="tab diet-tab pt-45">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="tabs">
                        <li>
                            Saturday
                        </li>
                        <li>
                            Sunday
                        </li>
                        <li>
                            Monday
                        </li>
                        <li>
                            Tuesday
                        </li>
                        <li>
                            Wednesday
                        </li>
                        <li>
                            Thursday
                        </li>
                        <li>
                            Friday
                        </li>
                    </ul>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="tab_content current active pt-45">
                        <div class="tabs_item current">
                            <div class="row align-items-center">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan1.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Quick and Easy Healthy Breakfast Ideas</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan2.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Dinner</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Delicious Spicy Thai Crab Recipe</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan3.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado Toast with Spinach and Poach Egg</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan4.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Lunch</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado with Lemonade Fresh Salad Dish</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan3.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado Toast with Spinach and Poach Egg</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan4.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Lunch</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado with Lemonade Fresh Salad Dish</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan1.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Quick and Easy Healthy Breakfast Ideas</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="assets/images/diet-plan/diet-plan2.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Dinner</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Delicious Spicy Thai Crab Recipe</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan1.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Quick and Easy Healthy Breakfast Ideas</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan2.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Dinner</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Delicious Spicy Thai Crab Recipe</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan3.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado Toast with Spinach and Poach Egg</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan4.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Lunch</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado with Lemonade Fresh Salad Dish</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan3.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado Toast with Spinach and Poach Egg</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan4.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Lunch</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado with Lemonade Fresh Salad Dish</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan1.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Quick and Easy Healthy Breakfast Ideas</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan2.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Dinner</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Delicious Spicy Thai Crab Recipe</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan1.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Quick and Easy Healthy Breakfast Ideas</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan2.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Dinner</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Delicious Spicy Thai Crab Recipe</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan3.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado Toast with Spinach and Poach Egg</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan4.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Lunch</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado with Lemonade Fresh Salad Dish</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan3.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado Toast with Spinach and Poach Egg</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan4.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Lunch</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado with Lemonade Fresh Salad Dish</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan1.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Quick and Easy Healthy Breakfast Ideas</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan2.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Dinner</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Delicious Spicy Thai Crab Recipe</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan3.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado Toast with Spinach and Poach Egg</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan4.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Lunch</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Avocado with Lemonade Fresh Salad Dish</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan1.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Breakfast</a>
                                            </div>
                                        </div>

                                        <h3><a href="portfolio.html">Quick and Easy Healthy Breakfast Ideas</a></h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a href="portfolio.html">
                                                <img src="/Template/assets/images/diet-plan/diet-plan2.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a href="portfolio.html">Dinner</a>
                                            </div>
                                        </div>
                                        <h3><a href="portfolio.html">Delicious Spicy Thai Crab Recipe</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
