<style>
    .subscribe {
        background-image: url(../../Template/assets/images/calculate-bg.png);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        width: 900px;
        height: 450px;
        border-radius: 20px;
        box-shadow: rgba(17, 12, 46, 0.07) 0px 48px 100px 0px;
        position: relative;
        left: 160px;
        margin-bottom: 150px;
    }


    .subscribe__title {
        font-weight: bold;
        font-size: 26px;
        margin-bottom: 18px;
    }

    .subscribe__copy {
        max-width: 450px;
        text-align: center;
        margin-bottom: 53px;
        line-height: 1.5;
    }

    .form {
        margin-bottom: 25px;
    }

    .form__email {
        padding: 20px 25px;
        border-radius: 5px;
        border: 1px solid #CAD3DB;
        width: 431px;
        font-size: 18px;
        color: #0F121F;
    }

        .form__email:focus {
            outline: 1px solid black;
        }

    .form__button {
        background: rgb(255, 132, 0);
        padding: 10px;
        border: none;
        width: 244px;
        height: 65px;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        transition: 0.2s;
    }

        .form__button:hover {
            box-shadow: none;
        }
</style>
<div class="about-area-two pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content-two">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2 style="font-weight:600">Discover the Art of Cooking With FlavourFusion!</h2>
                        <p>
                            Welcome to our cooking website, where we celebrate the art of cooking and the joy of culinary exploration. We are passionate about sharing delicious recipes, cooking tips, and culinary techniques to inspire your creativity in the kitchen.
                            Whether you're a seasoned chef or a beginner cook, our platform is designed to cater to all skill levels. From simple family meals to gourmet creations, we provide a wide range of recipes that are easy to follow and guaranteed to impress.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about-content-item">
                                <i class="flaticon-diet"></i>
                                <h3>Recipe Collection</h3>
                                <p>Explore our extensive collection of recipes curated by our team of culinary experts. From appetizers to desserts, we have a diverse range of dishes to suit every taste and occasion. Discover new flavors, learn exciting cooking techniques, and bring your culinary creations to life.</p>
                            </div>
                        </div>
                        <div class="col-lg-6" style="position:relative;right:18px;">
                            <div class="about-content-item">
                                <i class="flaticon-exercise"></i>
                                <h3>Cooking Tips and Tricks</h3>
                                <p>Enhance your cooking skills with our helpful tips and tricks. We provide guidance on essential cooking techniques, ingredient substitutions, time-saving hacks, and much more. Whether you're a novice or an experienced cook, our tips will elevate your culinary expertise.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-0">
                <div class="about-img">
                    <img src="~/Template/assets/images/about/the-about-img1.jpg" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>What We Offer</span>
            <h2>Diet & Nutritionist Services</h2>
        </div>
        <div class="row pt-45 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                    <a href="service-details.html">
                        <img src="/Template/assets/images/services/services-img1.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="service-details.html">Weight Loss Program</a>
                        </h3>
                        <p>
                            Many diets can help you lose weight and offer unique health benefits. Some of the most popular eating plans include the Mediterranean diet, WW (Weight Watchers), the MIND diet, the DASH diet, intermittent fasting, plant-based diets, low carb diets, the Mayo Clinic Diet, and the Volumetrics diet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                    <a href="service-details.html">
                        <img src="/Template/assets/images/services/services-img2.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="service-details.html">Nutrition Response Testing</a>
                        </h3>
                        <p>
                            Nutrition Response Testing® is a non-invasive system of analyzing the body to determine the underlying causes of illness and non-optimum health. Our clinically proven system may be quite different from any other healing practice you have experienced.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                    <a href="service-details.html">
                        <img src="/Template/assets/images/services/services-img3.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="service-details.html">Clinical Nutrition</a>
                        </h3>
                        <p>
                            Clinical nutrition is the prevention, diagnosis, and treatment of chronic diseases and conditions leveraging the power of nutrition. It's the study of how food can be used to improve patient outcomes at all stages of their health and medical journey.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="appointment-area pt-100 pb-70">
    <div class="container">
        <div class="appointment-form" style="border-radius:12px;">
            <h2>Gives Us Your FeedBack</h2>
            <form>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" required="" data-error="Please Enter Your Name" placeholder="Name*" style="background-color: white; background-color: none; color: black; box-shadow: rgba(17, 12, 46, 0.06) 0px 48px 100px 0px;border-radius:8px;">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required="" data-error="Please Enter Your Email" placeholder="Email*" style="background-color: white; background-color: none; color: black; box-shadow: rgba(17, 12, 46, 0.06) 0px 48px 100px 0px;border-radius:8px;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" required="" data-error="Please Enter Your Phone Number" placeholder="Phone*" style="background-color: white; background-color: none; color: black; box-shadow: rgba(17, 12, 46, 0.06) 0px 48px 100px 0px;border-radius:8px;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <i class="flaticon-weekly-calendar-page-symbol"></i>
                            <input type="text" id="datetimepicker" class="form-control date hasDatepicker" required="" data-error="Please Enter Date" placeholder="Date" style="background-color: white; background-color: none; color: black; box-shadow: rgba(17, 12, 46, 0.06) 0px 48px 100px 0px;border-radius:8px;">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <textarea name="message" class="form-control" id="message" cols="30" rows="5" required="" data-error="Write your message" placeholder="Your Message" style="background-color: white; background-color: none; color: black; box-shadow: rgba(17, 12, 46, 0.06) 0px 48px 100px 0px;border-radius:8px;"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn">
                            Submit Now
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="subscribe" style="margin-top:150px;">
    <h1 class="subscribe__title" style="font-size:50px;">Let's keep in touch</h1>
    <p class="subscribe__copy">Subscribe to keep up with fresh news and exciting updates. We promise not to spam you!</p>
    <div class="form">
        <input type="email" class="form__email" placeholder="Enter your email address" />
        <button class="form__button" style="font-size:25px;">Send</button>
    </div>
</div>
