<h2 class="text-center" style="position:relative;top:40px;font-size:50px;font-weight:700;">OUR FAQ'S</h2>
<div class="faq-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="faq-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                01. How Do You Maintain Your Diet Routine Regularly?
                            </a>
                            <div class="accordion-content show">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod, orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                                </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                02. Can I Know About Popular Nutritionists?
                            </a>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod, orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                                </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                03. What Does “ 100% Natural” Mean?
                            </a>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod, orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                                </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                04. Where Can I Buy Arrola Products?
                            </a>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod, orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                05. How Does Your Weight Loss Program Work?
                            </a>
                            <div class="accordion-content show">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod, orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                                </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                06. What Does The Test Cost?
                            </a>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod, orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                                </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                07. What’s The New Patient Experience Like?
                            </a>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod, orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                                </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                08. Do You Have Dedicated Support Staff?
                            </a>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod, orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>