<div class="banner-slider-area">
    <div class="banner-slider owl-carousel owl-theme">
        <div class="banner-item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-item-content">
                            <h1>Good Nutrition Prevent Your Disease</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum </p>
                            <div class="banner-btn">
                                <a href="about.html" class="default-btn">Learn More</a>
                                <a href="contact.html" class="default-btn two">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                        <div class="banner-item-img">
                            <img src="/Template/assets/images/home-two/the-home-two-img1.png" alt="Banner Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-item-content">
                            <h1>Healthy & Delicious Backed Pasta</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum </p>
                            <div class="banner-btn">
                                <a href="about.html" class="default-btn">Learn More</a>
                                <a href="contact.html" class="default-btn two">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                        <div class="banner-item-img">
                            <img src="/Template/assets/images/home-two/home-two-img2.png" alt="Banner Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-item-content">
                            <h1>Nourishing with Healthy Food Choices</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum </p>
                            <div class="banner-btn">
                                <a href="about.html" class="default-btn">Learn More</a>
                                <a href="contact.html" class="default-btn two">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                        <div class="banner-item-img">
                            <img src="/Template/assets/images/home-two/the-home-two-img3.png" alt="Banner Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape-two">
        <img src="/Template/assets/images/shape/shape1.png" alt="Banner Images" height="30" width="30">
        <img src="/Template/assets/images/shape/shape2.png" alt="Banner Images">
    </div>
</div>
<div class="banner-bottom-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="banner-bottom-card">
                    <i class="flaticon-calendar-1"></i>
                    <h3>Daily Exercise</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                    <a href="about.html" class="learn-btn">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="banner-bottom-card">
                    <i class="flaticon-diet"></i>
                    <h3>Natural Foods</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                    <a href="about.html" class="learn-btn">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="banner-bottom-card">
                    <i class="flaticon-plan"></i>
                    <h3>Nutrition Plans</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                    <a href="about.html" class="learn-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area-two pb-70" style="margin-top: 15px;margin-bottom: 15px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content-two">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>Change Your Life in the next 90 Days of Practice</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about-content-item">
                                <i class="flaticon-diet"></i>
                                <h3>Personalized Nutrition Plan</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-content-item">
                                <i class="flaticon-exercise"></i>
                                <h3>Personalized Exercises Plan</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                    <a href="about.html" class="default-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-6 pe-0">
                <div class="about-img">
                    <img src="/Template/assets/images/about/about-img1.png" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team-area pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Our Popular Nutritionist</span>
            <h2>Our Specialist Nutritionist</h2>
        </div>
        <div class="row pt-45 justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="team-card active">
                    <div class="team-img">
                        <a href="team.html">
                            <img src="/Template/assets/images/team/team-img1.jpg" alt="Team Images">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a href="team.html">Dr. Aruna Malis</a></h3>
                        <span>Nutritionist</span>
                        <ul class="team-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-card active">
                    <div class="team-img">
                        <a href="team.html">
                            <img src="/Template/assets/images/team/team-img2.jpg" alt="Team Images">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a href="team.html">Dr. Pritula Juli</a></h3>
                        <span>Head Of Department</span>
                        <ul class="team-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-card active">
                    <div class="team-img">
                        <a href="team.html">
                            <img src="/Template/assets/images/team/team-img3.jpg" alt="Team Images">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a href="team.html">Dr. Melona Jack</a></h3>
                        <span>Senior Nutritionist</span>
                        <ul class="team-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-card active">
                    <div class="team-img">
                        <a href="team.html">
                            <img src="/Template/assets/images/team/team-img4.jpg" alt="Team Images">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a href="team.html">Dr. Aila Faris</a></h3>
                        <span>Assistant Of Department</span>
                        <ul class="team-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>What We Offer</span>
            <h2>Diet & Nutritionist Services</h2>
        </div>
        <div class="row pt-45 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                    <a href="service-details.html">
                        <img src="/Template/assets/images/services/services-img1.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="service-details.html">Weight Loss Program</a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            dolore magna aliqua quis ipsum.
                        </p>
                        <a href="service-details.html" class="learn-btn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                    <a href="service-details.html">
                        <img src="/Template/assets/images/services/services-img2.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="service-details.html">Nutrition Response Testing</a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            dolore magna aliqua quis ipsum.
                        </p>
                        <a href="service-details.html" class="learn-btn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                    <a href="service-details.html">
                        <img src="/Template/assets/images/services/services-img3.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="service-details.html">Clinical Nutrition</a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            dolore magna aliqua quis ipsum.
                        </p>
                        <a href="service-details.html" class="learn-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="work-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>How IT Works</span>
            <h2>4 Easy Steps For Happy Life</h2>
        </div>
        <div class="row pt-45 justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="work-card work-bg1">
                    <div class="content">
                        <i class="flaticon-contact-book"></i>
                        <h3>Contact Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="work-card work-bg2">
                    <div class="content">
                        <i class="flaticon-calendar-1"></i>
                        <h3>Appointment</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="work-card work-bg3">
                    <div class="content">
                        <i class="flaticon-research"></i>
                        <h3>Analysis</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="work-card work-bg4">
                    <div class="content">
                        <i class="flaticon-happiness"></i>
                        <h3>Happy Life</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Pricing Plan</span>
            <h2>Choose Your Best Plan</h2>
        </div>
        <div class="row pt-45 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="pricing-card">
                    <div class="pricing-title">
                        <h3>$25</h3>
                        <span>Starter</span>
                    </div>
                    <ul>
                        <li><i class='bx bx-check'></i> 20 Workouts</li>
                        <li><i class='bx bx-check'></i> Meal Plans & Analysis</li>
                        <li><i class='bx bx-check'></i> Weight Assessment</li>
                        <li><i class='bx bx-check'></i> Physical Activities</li>
                        <li><i class='bx bx-check'></i> Client Monitoring</li>
                        <li><i class='bx bx-check'></i> 24/7 Support</li>
                    </ul>
                    <div class="price-btn-area text-center">
                        <a href="pricing.html" class="default-btn">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-card">
                    <div class="pricing-title">
                        <h3>$45</h3>
                        <span>Advance</span>
                    </div>
                    <ul>
                        <li><i class='bx bx-check'></i> 24 Workouts</li>
                        <li><i class='bx bx-check'></i> Meal Plans & Analysis</li>
                        <li><i class='bx bx-check'></i> Weight Assessment</li>
                        <li><i class='bx bx-check'></i> Physical Activities</li>
                        <li><i class='bx bx-check'></i> Client Monitoring</li>
                        <li><i class='bx bx-check'></i> 24/7 Support</li>
                    </ul>
                    <div class="price-btn-area text-center">
                        <a href="pricing.html" class="default-btn">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-card">
                    <div class="pricing-title">
                        <h3>$45</h3>
                        <span>Premium</span>
                    </div>
                    <ul>
                        <li><i class='bx bx-check'></i> 30 Workouts</li>
                        <li><i class='bx bx-check'></i> Meal Plans & Analysis</li>
                        <li><i class='bx bx-check'></i> Weight Assessment</li>
                        <li><i class='bx bx-check'></i> Physical Activities</li>
                        <li><i class='bx bx-check'></i> Client Monitoring</li>
                        <li><i class='bx bx-check'></i> 24/7 Support</li>
                    </ul>
                    <div class="price-btn-area text-center">
                        <a href="pricing.html" class="default-btn">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Latest News</span>
            <h2>Latest Recipe From Blog</h2>
        </div>
        <div class="row pt-45">
            <div class="col-lg-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a href="blog-details.html">
                            <img src="/Template/assets/images/blog/blog-img1.jpg" alt="Blog Images">
                        </a>
                        <div class="tag">
                            <a href="blog-details.html">
                                22 April, 2021
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="blog-details.html">7 Healthy & Simp,gluten free Cookie, Cake Recipes</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua quis ipsum suspendisse ultrices.</p>
                        <a href="blog-details.html" class="read-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-side-content">
                            <div class="blog-side-img blog-side1"></div>
                            <div class="content">
                                <span><i class="flaticon-calendar-1"></i> 22 April, 2021</span>
                                <h3>
                                    <a href="blog-details.html">How to Make Spigots in Easy 4 Steps</a>
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog-side-content">
                            <div class="blog-side-img blog-side2"></div>
                            <div class="content">
                                <span><i class="flaticon-calendar-1"></i> 23 April, 2021</span>
                                <h3>
                                    <a href="blog-details.html">5 Easy Cooking Recipe Tips </a>
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog-side-content">
                            <div class="blog-side-img blog-side3"></div>
                            <div class="content">
                                <span><i class="flaticon-calendar-1"></i> 24 April, 2021</span>
                                <h3>
                                    <a href="blog-details.html">How to Make Fit in Your Body</a>
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>