<div class="banner-slider-area">
    <div class="banner-slider owl-carousel owl-theme">
        <div class="banner-item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-item-content">
                            <h1>Good Nutrition Prevent Your Disease</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum </p>
                            <div class="banner-btn">
                                <a href="about.html" class="default-btn">Learn More</a>
                                <a href="contact.html" class="default-btn two">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                        <div class="banner-item-img">
                            <img src="/Template/assets/images/home-two/home-two-img1.jpg" alt="Banner Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-item-content">
                            <h1>Healthy & Delicious Backed Pasta</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum </p>
                            <div class="banner-btn">
                                <a href="about.html" class="default-btn">Learn More</a>
                                <a href="contact.html" class="default-btn two">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                        <div class="banner-item-img">
                            <img src="/Template/assets/images/home-two/home-two-img2.jpg" alt="Banner Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-item-content">
                            <h1>Nourishing with Healthy Food Choices</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum </p>
                            <div class="banner-btn">
                                <a href="about.html" class="default-btn">Learn More</a>
                                <a href="contact.html" class="default-btn two">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                        <div class="banner-item-img">
                            <img src="/Template/assets/images/home-two/home-two-img3.jpg" alt="Banner Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape-two">
        <img src="/Template/assets/images/shape/shape1.png" alt="Banner Images" height="30" width="30">
        <img src="/Template/assets/images/shape/shape2.png" alt="Banner Images">
    </div>
</div>