@model List<FlavourFusion.Models.Tbl_Membership_Plans>

<div class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Pricing Plans</span>
            <h2>Choose Your Subscription</h2>
        </div>
        <div class="row pt-45 justify-content-center">
            @foreach (var plan in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-card">
                        <div class="pricing-title">
                            <h3>$@plan.price/Month</h3>
                            <h5>@plan.plan_name</h5>
                        </div>
                        <ul>
                            @if (plan.plan_name.Equals("Premium"))
                            {
                                <li><i class='bx bx-check' style="font-size:14px;"></i> Wide Range of Recipe Collection</li>
                                <li><i class='bx bx-check'></i> Weekly Meal Plans</li>
                                <li><i class='bx bx-check'></i> Cooking Tips & Tricks</li>
                                <li><i class='bx bx-check'></i> Personalized Shopping List</li>
                                <li><i class='bx bx-check'></i> Monthly Cooking Webinars</li>
                                <li><i class='bx bx-check'></i> Exclusive Recipes</li>
                                <li><i class='bx bx-check'></i> Member Discounts</li>
                                <li><i class='bx bx-check'></i> 24/7 Support</li>
                                <div class="price-btn-area text-center">
                                    <a href="@Url.Action("Register", "FlavourFusion", new { planId = plan.plan_id })" class="default-btn">Buy Now</a>
                                </div>
                            }
                            @if (plan.plan_name.Equals("Standard"))
                            {
                                <li><i class='bx bx-check' style="font-size:14px;"></i> Wide Range of Recipe Collection</li>
                                <li><i class='bx bx-check'></i> Weekly Meal Plans</li>
                                <li><i class='bx bx-check'></i> Cooking Tips & Tricks</li>
                                <li><i class='bx bx-x'></i> Personalized Shopping List</li>
                                <li><i class='bx bx-check'></i> Monthly Cooking Webinars</li>
                                <li><i class='bx bx-x'></i> Exclusive Recipes</li>
                                <li><i class='bx bx-check'></i> Member Discounts</li>
                                <li><i class='bx bx-check'></i> 24/7 Support</li>
                                <div class="price-btn-area text-center">
                                    <a href="@Url.Action("Register", "FlavourFusion", new { planId = plan.plan_id })" class="default-btn">Buy Now</a>
                                </div>
                            }
                            @if (plan.plan_name.Equals("Free"))
                            {
                                <li><i class='bx bx-check'></i> Minimum Recipe Collection</li>
                                <li><i class='bx bx-x'></i> Weekly Meal Plans</li>
                                <li><i class='bx bx-check'></i> Cooking Tips & Tricks</li>
                                <li><i class='bx bx-x'></i> Personalized Shopping List</li>
                                <li><i class='bx bx-check'></i> Monthly Cooking Webinars</li>
                                <li><i class='bx bx-x'></i> Exclusive Recipes</li>
                                <li><i class='bx bx-x'></i> Member Discounts</li>
                                <li><i class='bx bx-check'></i> 24/7 Support</li>
                                <div class="price-btn-area text-center">
                                    <a href="@Url.Action("Register", "FlavourFusion", new { planId = plan.plan_id })" class="default-btn">Start Now</a>
                                </div>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<h2 class="text-center" style="position:relative;top:40px;font-size:30px;font-weight:700;">FAQ'S Related Subscriptions & FlavourFusion</h2>
<div class="faq-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="faq-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)" style="background-color: white; box-shadow: rgba(17, 12, 46, 0.07) 0px 48px 100px 0px; color:black;">
                                <i class='bx bx-plus' style="color:darkorange;"></i>
                                01. Will there be any subscription charges?
                            </a>
                            <div class="accordion-content show">
                                <p>
                                    Yes, We Can Charge Subscription Charges You Can See All Details About Subscripion And Their Features At The Authorities Register Page.
                                </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)" style="background-color: white; box-shadow: rgba(17, 12, 46, 0.07) 0px 48px 100px 0px; color:black;">
                                <i class='bx bx-plus' style="color:darkorange;"></i>
                                02. How to view the recipes and tips? Are there any charges for that?
                            </a>
                            <div class="accordion-content show">
                                <p>
                                    Viewing Recipes And Tips On Our Platform Is Exclusive. So We Offer Membership Based Service, Our Users Also Try Our Membership And Unlock More Recipes But If User Have Free Plan They See Limited Recipes And Tips.
                                </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)" style="background-color: white; box-shadow: rgba(17, 12, 46, 0.07) 0px 48px 100px 0px; color:black;">
                                <i class='bx bx-plus' style="color:darkorange;"></i>
                                03. I am not a registered member of the site. Can I participate in the contest held?
                            </a>
                            <div class="accordion-content show">
                                <p>
                                    Yes, You Can Participate In The Contest Even If You Are Not A Registered Member Of Our Site. However, We Recommend Creating An Membership Account For A Better Experience And To Receive Updates About The Contest.
                                </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)" style="background-color: white; box-shadow: rgba(17, 12, 46, 0.07) 0px 48px 100px 0px; color:black;">
                                <i class='bx bx-plus' style="color:darkorange;"></i>
                                04. How to upload or post recipes and tips?
                            </a>
                            <div class="accordion-content show">
                                <p>
                                    To Upload or Post Recipes And Tips, You Need To Create An Account On Our Site. Once You Are Logged In, You Can Navigate To The Contest Section And Participate In Your Desired Contest And Submit Your Recipe.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)" style="background-color: white; box-shadow: rgba(17, 12, 46, 0.07) 0px 48px 100px 0px; color:black;">
                                <i class='bx bx-plus' style="color:darkorange;"></i>
                                05. How to post feedback?
                            </a>
                            <div class="accordion-content show">
                                <p>
                                    To Post Feedback, You Can Use The Feedback Form Provided On Our Site. Simply Fill Out The Form With Your Feedback At About Us Page And Submit It. We Value Your Input And Appreciate Your Feedback.
                                </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)" style="background-color: white; box-shadow: rgba(17, 12, 46, 0.07) 0px 48px 100px 0px; color:black;">
                                <i class='bx bx-plus' style="color:darkorange;"></i>
                                06. I have posted a recipe or a tip for the contest. How can I know who the winner is?
                            </a>
                            <div class="accordion-content show">
                                <p>
                                    Once The Contest Ends, The Winner Will Be Announced on Our Website And Social Media Platforms. You Can Also Receive Email About The Winner of The Contest.
                                </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)" style="background-color: white; box-shadow: rgba(17, 12, 46, 0.07) 0px 48px 100px 0px; color:black;">
                                <i class='bx bx-plus' style="color:darkorange;"></i>
                                07. What are the benefits of joining our community?
                            </a>
                            <div class="accordion-content show">
                                <p>
                                    By Joining Our Community, You Gain Access To A Supportive Network of Individuals With Similar Interests. You Can Share And Discover New Recipes And Tips, Participate In Contests And Events, Receive Updates On The Latest News And Features, And Engage With Like-minded Individuals Passionate About Health And Wellness.
                                </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)" style="background-color: white; box-shadow: rgba(17, 12, 46, 0.07) 0px 48px 100px 0px; color:black;">
                                <i class='bx bx-plus' style="color:darkorange;"></i>
                                08. How can I contact customer support?
                            </a>
                            <div class="accordion-content show">
                                <p>
                                    If You Have Any Questions or Need Assistance, You Can Contact Our Customer Support Team Through The Contact Information Provided On Our Website. We Are Here To Help And Will Respond To Your Inquiries As Soon As Possible.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
