@model List<FlavourFusion.Models.Tbl_Membership_Plans>

<div class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Pricing Plans</span>
            <h2>Choose Your Subscription</h2>
        </div>
        <div class="row pt-45 justify-content-center">
            @foreach (var plan in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-card">
                        <div class="pricing-title">
                            <h3>$@plan.price/Month</h3>
                            <h5>@plan.plan_name</h5>
                        </div>
                        <ul>
                            @if (plan.plan_name.Equals("Premium"))
                            {
                                <li><i class='bx bx-check' style="font-size:14px;"></i> Wide Range of Recipe Collection</li>
                                <li><i class='bx bx-check'></i> Weekly Meal Plans</li>
                                <li><i class='bx bx-check'></i> Cooking Tips & Tricks</li>
                                <li><i class='bx bx-check'></i> Personalized Shopping List</li>
                                <li><i class='bx bx-check'></i> Monthly Cooking Webinars</li>
                                <li><i class='bx bx-check'></i> Exclusive Recipes</li>
                                <li><i class='bx bx-check'></i> Member Discounts</li>
                                <li><i class='bx bx-check'></i> 24/7 Support</li>
                                <div class="price-btn-area text-center">
                                    <a href="@Url.Action("Register", "FlavourFusion", new { planId = plan.plan_id })" class="default-btn">Buy Now</a>
                                </div>
                            }
                            @if (plan.plan_name.Equals("Standard"))
                            {
                                <li><i class='bx bx-check' style="font-size:14px;"></i> Wide Range of Recipe Collection</li>
                                <li><i class='bx bx-check'></i> Weekly Meal Plans</li>
                                <li><i class='bx bx-check'></i> Cooking Tips & Tricks</li>
                                <li><i class='bx bx-x'></i> Personalized Shopping List</li>
                                <li><i class='bx bx-check'></i> Monthly Cooking Webinars</li>
                                <li><i class='bx bx-x'></i> Exclusive Recipes</li>
                                <li><i class='bx bx-check'></i> Member Discounts</li>
                                <li><i class='bx bx-check'></i> 24/7 Support</li>
                                <div class="price-btn-area text-center">
                                    <a href="@Url.Action("Register", "FlavourFusion", new { planId = plan.plan_id })" class="default-btn">Buy Now</a>
                                </div>
                            }
                            @if (plan.plan_name.Equals("Free"))
                            {
                                <li><i class='bx bx-check'></i> Minimum Recipe Collection</li>
                                <li><i class='bx bx-x'></i> Weekly Meal Plans</li>
                                <li><i class='bx bx-check'></i> Cooking Tips & Tricks</li>
                                <li><i class='bx bx-x'></i> Personalized Shopping List</li>
                                <li><i class='bx bx-check'></i> Monthly Cooking Webinars</li>
                                <li><i class='bx bx-x'></i> Exclusive Recipes</li>
                                <li><i class='bx bx-x'></i> Member Discounts</li>
                                <li><i class='bx bx-check'></i> 24/7 Support</li>
                                <div class="price-btn-area text-center">
                                    <a href="@Url.Action("Register", "FlavourFusion", new { planId = plan.plan_id })" class="default-btn">Start Now</a>
                                </div>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>