<div class="inner-banner inner-bg5">
    <div class="container">
        <div class="inner-title text-center">
            <h3> Recipe</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li> Recipe</li>
            </ul>
        </div>
    </div>
</div>


<div class="recent-recipe-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Recent Recipe</span>
            <h2>Our Latest Recipe</h2>
        </div>
    </div>
    <div class="container">
        <div class="row pt-45 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="recent-recipe-item">
                    <a href="recipe-details.html">
                        <img src="/Template/assets/images/recipe-img/recipe-another-img1.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3><a href="recipe-details.html">Tart Pecan Pie</a></h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <p> Pecan pie is a pie of pecan nuts mixed with a filling of eggs, butter, and sugar (typically corn syrup). Variations may include white or brown sugar, cane syrup, sugar syrup, molasses, maple syrup, or honey. </p> 
                        <ul>
                            <li>
                                <img src="/Template/assets/images/recipe-img/recipe-user1.jpg" alt="Images">
                            </li>
                            <li><a href="author.html">By Andres</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="recent-recipe-item">
                    <a href="recipe-details.html">
                        <img src="/Template/assets/images/recipe-img/recipe-another-img2.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3><a href="recipe-details.html">Delicious Steak Tohma</a></h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <p> a slice of meat (usually beef) that's removed from an animal's carcass and cuts across, or perpendicular, to the direction of the muscle fibers.</p>
                        <ul>
                            <li>
                                <img src="/Template/assets/images/recipe-img/recipe-user2.jpg" alt="Images">
                            </li>
                            <li><a href="author.html">By Oliva</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="recent-recipe-item">
                    <a href="recipe-details.html">
                        <img src="/Template/assets/images/recipe-img/recipe-another-img3.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3><a href="recipe-details.html">Spanish Dishes</a></h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <p> Paella Valenciana. Paella is perhaps the most famous Spanish dish of all,Patatas bravas,Gazpacho,Pimientos de Padron</p>
                        <ul>
                            <li>
                                <img src="/Template/assets/images/recipe-img/recipe-user3.jpg" alt="Images">
                            </li>
                            <li><a href="author.html">By Willam</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="recent-recipe-item">
                    <a href="recipe-details.html">
                        <img src="/Template/assets/images/recipe-img/recipe-another-img4.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3><a href="recipe-details.html">Delicious Beef Stack</a></h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <p>A steak is a thick cut of meat generally sliced across the muscle fibers, sometimes including a bone. </p>
                        <ul>
                            <li>
                                <img src="/Template/assets/images/recipe-img/recipe-user4.jpg" alt="Images">
                            </li>
                            <li><a href="author.html">By Henrry</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="recent-recipe-item">
                    <a href="recipe-details.html">
                        <img src="/Template/assets/images/recipe-img/recipe-another-img5.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3><a href="recipe-details.html">Backed Egg with Simon</a></h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <p> Shirred eggs, also known as baked eggs, are eggs that have been baked in a flat-bottomed dish; the name originates from the type of dish in which it was traditionally baked. </p>
                        <ul>
                            <li>
                                <img src="/Template/assets/images/recipe-img/recipe-user5.jpg" alt="Images">
                            </li>
                            <li><a href="author.html">By Emma</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="recent-recipe-item">
                    <a href="recipe-details.html">
                        <img src="/Template/assets/images/recipe-img/recipe-another-img6.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3><a href="recipe-details.html">Beef Spicy Tandori Masala</a></h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <p>Combine coriander, cumin, garlic powder, ginger, cloves, mace, fenugreek, cinnamon, black pepper, cardamom, and nutmeg together in a bowl; store in an airtight container.</p>
                        <ul>
                            <li>
                                <img src="/Template/assets/images/recipe-img/recipe-user9.jpg" alt="Images">
                            </li>
                            <li><a href="author.html">By Jon Ray</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="recipe-video-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span> Recipe Video</span>
            <h2> Most Popular Recipe Video</h2>
        </div>
        <div class="row pt-45">
            <div class="col-lg-6">
                <div class="recipe-video-card">
                    <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                        <img src="/Template/assets/images/recipe-img/recipe-style1.jpg" alt="Images">
                    </a>
                    <div class="content">
                        <h3><a href="recipe-details.html">Vegetable with Tomato Salad</a></h3>
                        <ul>
                            <li><i class='bx bx-time-five'></i> 60 Minutes</li>
                            <li><i class='bx bx-check'></i> 3 Steps</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img1.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="recipe-details.html">Vegetable Sauce</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 60 Minutes</li>
                                    <li><i class='bx bx-check'></i> 3 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img3.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="recipe-details.html">Egg Pouch</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 5 Minutes</li>
                                    <li><i class='bx bx-check'></i> 2 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img2.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="recipe-details.html">Chocolate Chip</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 40 Minutes</li>
                                    <li><i class='bx bx-check'></i> 4 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img4.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="recipe-details.html">Beef Stack</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 50 Minutes</li>
                                    <li><i class='bx bx-check'></i> 3 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img5.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="recipe-details.html">Vegetable Salad</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 70 Minutes</li>
                                    <li><i class='bx bx-check'></i> 5 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img6.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="recipe-details.html">Vegetable Sauce</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 40 Minutes</li>
                                    <li><i class='bx bx-check'></i> 3 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img7.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="recipe-details.html">Vegan Food</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 60 Minutes</li>
                                    <li><i class='bx bx-check'></i> 2 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img8.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="recipe-details.html">Strawberry Juice</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 60 Minutes</li>
                                    <li><i class='bx bx-check'></i> 2 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
